<h1><%= @city.name %></h1>



<h3>Baseball Teams</h3>

<ul>
  <% @baseball_teams.each do |baseball| %>
    <li><%= link_to baseball.name, team_path(baseball.id) %> </li>
  <% end %>
</ul>


<h3>Football Teams</h3>

<ul>
  <% @football_teams.each do |football| %>
    <li><%= link_to football.name, team_path(football.id) %> </li>
  <% end %>
</ul>

<%= link_to "Create a Team in #{@city.name}", new_city_team_path(@city.id) %>
